
/* ================================= 
  Base Styles
  ==================================== */
  * { 
  	box-sizing: border-box;
  }

  body {
  	font-family: 'Open Sans', sans-serif;
  	line-height: 1.6;
  	background: #F9FAFA;
  }

  nav {
  	margin-top: 10px;
  	margin-bottom: 2px;
  }

  .all-content {
  	text-align: center;

  }

  .name {
  	margin-bottom: 0%;
  }

  ul,
  h2,
  a,
  .return {
  	font-family: 'Josefin Sans', sans-serif;
  	text-transform: uppercase;
  	text-decoration: none;
  	font-weight: bold;
  	color: #000000;
  }

  h2 {
  	font-size: medium;
  	padding-top: 2em;
  	padding-bottom: 1em;
  }




  .name,
  .footer-name {
  	font-family: 'Josefin Sans', sans-serif;
  	font-weight: bold;
  	color: #000000;

  }

.main-nav a {
  	background: #FFFFFF;
  	width: 90%;
  	margin: auto ;
  	margin-bottom: 2%;
  	padding: 10px;
  	display: block;
  }

  .main-nav a:hover {
  	background: #675A85;
  	color: white;
  }



  .profile {
  	padding: 10% 15% 5%;

  }

  img {
  	width: 100%;


  }

  .main-content {
  	background: #FFFFFF;
  	padding-bottom: 5%;

  }

  .contactinfo {
  	color: #737373;
  	font-weight: bold;
  }

  p {

	font-size: .95em;
  	width: 85%;
  	margin: auto;
  	color: #737373;
  	padding-bottom: 5%;

  }



  hr {
  	width: 90%;
  	color: #bfbfbf;

  }

  .footer-name {
  	float: left;
  	padding-top: 1.5em;
  	padding-bottom: 1.5em;

  }

  .return {
  	
  	float: right;
  	padding-top: 1.5em;
  	padding-bottom: 1.5em;

  }

  .return a:hover {
  	border-bottom: solid 2px #675A85;

  }

  .main-footer {
  	width: 90%;
  	margin: auto;
  }

  .cont-info {
  	padding-bottom: 5%;

  }
  /* ================================= 
  Base Layout Styles
  ==================================== */

  /* ---- Navigation ---- */
.footer-nav {
	display: none;
}


  /* ---- Layout Containers ---- */




/* ================================= 
  Media Queries
  ==================================== */

  @media (min-width: 768px) {

  .main-nav { 
	display: inline-block;
	padding-top: .5em;
  	padding-bottom: 1.5em;
}

.main-nav a {
	text-align: center;
	background-color: #F9FAFA;
	display: inline-block;
	padding-bottom: 5px;
	margin-bottom: 0px;
}

.main-nav a:hover {
	color: black;
	background-color: #F9FAFA;
  	border-bottom: solid 2px #675A85;
}

.main-nav li {
	width: 150px;
	float:left;
	text-align: center;
	
}




.profile {
	float: right;
	width: 50%;
	padding:  0% 5% 5%;

}

.profile-text {
	float: left;
	width:50%;
	text-align: center;
	padding: 5% 0% 5% 5%;
	vertical-align: bottom;

}

.main-content {
	width: 100%;

}

.col {
	float: left;
	width: 50%;
	padding: 1%;

}

.footer-nav { 
	display: inline-block;
	float: right;
	padding-top: 1.5em;
  	padding-bottom: 1.5em;
}

.footer-nav li {
	float: left;
	margin-left: 1em;

}

  .footer-nav a:hover {
  	border-bottom: solid 2px #675A85;

  }

.return {
	display: none;
}


  }

  @media (min-width:1024px) {

  	.upper {
	width: 90%;
	margin: auto;

  	}

.name {
	float: left;
	padding: 8px 0px 24px;
	margin: 0;

}

.main-nav {
float:right;

}

.main-content {
width: 95%;
margin: auto;

}

.col {
	float: left;
	width: 33.3%;
	padding: 1%;

}

.profile {

		padding-right: 0%;
		margin-top: 10px;
}

.profile-text {
	padding-left: 0%;

}



  }

  /* Float Clearfix ------------------ */

  .group::after {
  	content: "";
  	display: table;
  	clear: both;
  }